<main class="row">
    <section class="col-md-4 offset-md-4">
        <aside class="card">
            <div class="card-body">
                <form action="/friends/create" method="POST">
                    <section class="form-group">
                        <input 
                            type="text" 
                            name="name" 
                            placeholder="Write your name" 
                            class="form-control" autofocus>
                    </section>
                    <section class="form-group">
                        <input 
                            type="text" 
                            name="age" 
                            placeholder="Write your age" 
                            class="form-control">
                    </section>
                    <section class="form-group">
                        <input 
                            type="text" 
                            name="info" 
                            placeholder="Write any info" 
                            class="form-control">
                    </section>
                    <button type="submit" class="btn btn-success btn-block">
                        Save
                    </button>
                </form>
            </div>
        </aside>
    </section>
</main>

